<%= javascript_pack_tag 'albums' %>
<nav class="ph4 pv2">
  <a href="#/home" class="albumsIndex link">Home</a>
</nav>
<input type="hidden" id="signed_in" value="<%= user_signed_in? %>"/>
<div class="ph4" id="root"></div>